{% set version = "tinymce" %}
{% block label %}
	{% if field.label %}
		{% set hint = field.help ? 'data-hint="' ~ field.help|tu|raw ~ '"': '' %}
		<div class="form-label form-field hint--bottom" {{ hint }}>{{ field.label|tu|raw }}</div>
	{% endif %}
{% endblock %}
{% block field %}

{% set media = object.header.media_order|split(",") %}
	<div class="form-field {{ field.classes|default('') }}">
		<div class="form-data">
			<textarea
				class="tinymce"
				name="{{ (scope ~ field.name)|fieldName }}"
				{% if field.disabled or isDisabledToggleable %}disabled="disabled"{% endif %}
				{% if field.placeholder %}placeholder="{{ field.placeholder|tu }}"{% endif %}
				{% if field.autofocus in ['on', 'true', 1] %}autofocus="autofocus"{% endif %}
				{% if field.novalidate in ['on', 'true', 1] %}novalidate="novalidate"{% endif %}
				{% if field.readonly in ['on', 'true', 1] %}readonly="readonly"{% endif %}
			>{{ value|join("\n")|e("html") }}</textarea>
		</div>
	</div>
	
	<script>
		
		tinymce.init({
			selector: "textarea.tinymce",
			convert_urls: false,
			document_base_url: "{{ (uri.rootUrl(true) ~ admin.page.rawRoute)|e("js") }}/",
			language: "{{ url('user://data/tinymce-editor/js/' ~ version ~ '/langs/' ~ grav.user.language ~ '.js')|default(url('user://data/tinymce-editor/js/' ~ version ~ '/langs/' ~ grav.user.language ~ '_' ~ (grav.user.language|upper) ~ '.js')|default(url('plugins://tinymce-editor/js/' ~ version ~ '/langs/' ~ grav.user.language ~ '.js')|default(url('plugins://tinymce-editor/js/' ~ version ~ '/langs/' ~ grav.user.language ~ '_' ~ (grav.user.language|upper) ~ '.js'))))|split('/')|last|split('.')|first }}",
			language_url: "{{ url('user://data/tinymce-editor/js/' ~ version ~ '/langs/' ~ grav.user.language ~ '.js')|default(url('user://data/tinymce-editor/js/' ~ version ~ '/langs/' ~ grav.user.language ~ '_' ~ (grav.user.language|upper) ~ '.js')|default(url('plugins://tinymce-editor/js/' ~ version ~ '/langs/' ~ grav.user.language ~ '.js')|default(url('plugins://tinymce-editor/js/' ~ version ~ '/langs/' ~ grav.user.language ~ '_' ~ (grav.user.language|upper) ~ '.js')))) }}",
			contextmenu: false,
			plugins: "{{ config.plugins["tinymce-editor"].plugins|join(" ")|e("js") }}",
			{% for key in config.plugins["tinymce-editor"].parameters|keys %}
				"{{ config.plugins["tinymce-editor"].parameters[key].name|e("js") }}": function(x) {
					try{return JSON.parse(x)}catch(e){return x}
				}("{{ config.plugins["tinymce-editor"].parameters[key].value|e("js") }}"),
			{% endfor %}
			menubar: {% if config.plugins["tinymce-editor"].menubar %}"{% for key in config.plugins["tinymce-editor"].menu|keys %}{{ config.plugins["tinymce-editor"].menu[key].title|lower|e("js") }} {% endfor %}"{% else %}false{% endif %},
			menu: {
				{% for key in config.plugins["tinymce-editor"].menu|keys %}
					"{{ config.plugins["tinymce-editor"].menu[key].title|lower|e("js") }}":{
						title: "{{ config.plugins["tinymce-editor"].menu[key].title|e("js") }}",
						items: "{{ config.plugins["tinymce-editor"].menu[key].items|e("js") }}"
					},
				{% endfor %}
			},
			toolbar: [
				{% for fields in config.plugins["tinymce-editor"].toolbar %}
					{% for row in fields %}
						'{{ row|e("js") }}',
					{% endfor %}
				{% endfor %}
			],
			image_list: [
					{% for img in media %}
						{ title:  "{{img}}" , value: "{{img}}" },
					{% endfor %}
			],
			
			skin: 'oxide',
			branding: {% if config.plugins["tinymce-editor"].branding %}true{% else %}false{% endif %},
			statusbar: {% if config.plugins["tinymce-editor"].statusbar %}true{% else %}false{% endif %},
			
			{{ config.plugins["tinymce-editor"].evals|raw }}
		});
	</script>
	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-duotone-sea.min.css" rel="stylesheet" />
	<script src="https://unpkg.com/prismjs@v1.x/components/prism-core.min.js"></script>
	<script src="https://unpkg.com/prismjs@v1.x/plugins/autoloader/prism-autoloader.min.js"></script>
	
	<style>
		/* from css-trick*/
		#editing, #highlighting {
			/* Both elements need the same text and space styling so they are directly on top of each other */
			// margin: 10px;
			padding: 0px;
			border: 0;
		}
		#editing, #highlighting, #highlighting *{
		/* Also add text styles to highlighing tokens */
		font-size: 15pt;
		font-family: monospace;
		line-height: 1.5;
		tab-size: 2;
		font-family: "Fira Code", monospace;
		}


		


		/* Move the textarea in front of the result */

		#editing {
		z-index: 1;
		}
		#highlighting {
		z-index: 0;
		}


		/* Make textarea almost completely transparent */

		#editing {

		color: transparent;
		background: transparent;
		caret-color: rgb(224, 224, 224); /* Or choose your favourite color */
		}

		/* Can be scrolled */
		#editing, #highlighting {
		overflow: auto;
		white-space: pre-wrap; /* Allows textarea to scroll horizontally */
		}

		/* No resize on textarea */
		#editing {
			resize: none;
		}

		
		#highlighting {
			border-radius: 2px;
			background-color: #080535;
			color: #bbbbbb;
		}

	
	
	
	</style>
	
{% endblock %}
