{% include 'partials/header.html.twig' with {'page':page, 'book': false} %}

<body>
        <div class="chapter contrib-{{page.slug}}">
            
            <h1> {{ page.title }}</h1>
            {{page.content|raw}}
            {% if page.header.footnotes %}
            <h2>références</h2>
            
                {% for ref in page.header.footnotes %}
                    <span id="{{page.slug}}-{{ref.key}}" >{{ref.key}} - {{ ref.text|raw }}</span>
                {% endfor %}
            {% endif %}
        </div>
        {% include 'partials/footer.html.twig' with {'page':page, 'book': true} %}
</body>
</html>